.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Form {
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px; /* add some space between the columns */;
  text-align: center;
}

.Form label {
  margin: 10px;
}

.Form input, .Form select {
  padding: 5px; /* add some padding to the input/select element */
  border-radius: 3px; /* add rounded corners to the input/select element */
  border: 1px solid #ccc; /* add a border to the input/select element */
  margin: 5px;
  display: inline-block;
}

.Form button[type='submit'] {
  /* Style the submit button */
  background-color: #007ACC;
  color: white;
  border-radius: 3px;
  padding: 10px 15px; /* add some padding to the button */
  font-weight: bold; /* make the button text bold */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
}

